html{
    font-size: 16px;
}

h2 {
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
    border-bottom:3px solid teal;
    }

body {
    font-family: 'Roboto', sans-serif;
    }
.aboutme-Text-1 {
   font-family: 'Muli', sans-serif;
   padding-top: 3%;
   margin-top: 3%;
}
.navbar-brand {
    background-color: teal;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-left: 10%;
    padding: 10%;
    margin-bottom:0;
    padding-bottom: 0;
}
nav {
    display:flex;
    justify-content: space-between;
    background-color: lightgrey;
    color: white;
}
.container {
    padding-top: 5%;
    margin-top: 5%;
    background-color: khaki;

}
footer {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom:0;
    background-color:grey ;
    text-align: center;
    justify-content:center;
    border-top:3px solid teal
    color: white;
    font-size: 1.5rem;
        
}
#navbarSupportedContent {
    padding-left: 65%;
    margin:2%;
}
